
@{
    ViewBag.Title = "Lista";
}

<h2>Lista</h2>

<div>
    <b>Pessoa Id</b>
</div>

<div>
    @ViewData["PessoaId"];
</div>

<div>
    <b>Nome</b>
</div>

<div>
    @ViewData["Nome"];
</div>

<div>
    <b>Tipo</b>
</div>

<div>
    @ViewData["Tipo"];
</div>

<div>
    <b>Data_Nascimento</b>
</div>

<div>
    @ViewData["Data_Nascimento"];
</div>

<div>
    <b>Profissao</b>
</div>

<div>
    @ViewData["Profissão"];
</div>

<div>
    <b>Conta_Corrente</b>
</div>

<div>
    @ViewData["Conta_Corrente"];
</div>

<div>
    <b>Agência</b>
</div>

<div>
    @ViewData["Agência"];
</div>

<div>
    <b>Conta_destino</b>
</div>

<div>
    @ViewData["Conta_destino"];
</div>

<div>
    <b>Id_Cliente</b>
</div>

<div>
    @ViewData["Id_Cliente"];
</div>

<div>
    <b>Cpf</b>
</div>

<div>
    @ViewData["Cpf"];
</div>

<div>
    <b>Rg</b>
</div>

<div>
    @ViewData["Rg"];
</div>

<div>
    <b>Extrato</b>
</div>

<div>
    @ViewData["Extrato"];
</div>

<div>
    <b>Saldo</b>
</div>

<div>
    @ViewData["Saldo"];
</div>

<a href="~/">Voltar</a>